@using BangBangFuli.H5.API.Core.Entities
@model BatchInformation
@{
    ViewData["Title"] = "添加Banner";
    Layout = "~/BasePages/_Layout.cshtml";
}
<blockquote class="layui-elem-quote">
    添加批次信息
</blockquote>
<div class="manage-form-container">
    <form class="layui-form" method="post" id="addform" action="/EnterCustom/SaveBatch">
        <div class="layui-form-item">
            <label class="layui-form-label">批次名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input layui-form-text" name="Name" id="Name" value="@(Model!=null?Model.Name:"")" placeholder="请输入批次名称" autocomplete="off" />
            </div>
        </div>
        <input type="hidden" name="ID" value="@(Model!=null ? Model.Id:0)" id="ID" />
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    <script src="~/layui/jquery.validate.js"></script>
    <script src="~/layui/jquery.form.js"></script>
    <script type="text/javascript">
        layui.use(['form', 'element', 'layer'], function () {
            var layer = layui.layer
            var form = layui.form
        })

        $('#addform').validate({
            ignore: "",
            messages: {
                Name: {
                    maxlength: "最多20个字"
                },
            },
            submitHandler: function (form) {
                layer.load(0, { shade: false })
                $(form).ajaxSubmit(function (res) {
                    if (res.code == 1) {
                        layer.msg('保存成功', { icon: 6 });
                        window.location = '/EnterCustom/QueryBatchList';
                    }
                    else {
                        layer.msg('保存失败', { icon: 5 });
                    }
                })
            }
        })


    </script>
}
