@{
    ViewData["Title"] = "供应商管理";
    Layout = "~/BasePages/_Layout.cshtml";
}
<blockquote class="layui-elem-quote">
    @*<a class="layui-btn layui-btn-normal" href="/EnterCustom/AddNewCoupon">添加供应商</a>*@
</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>供应商信息综合查询</legend>
</fieldset>
