################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BangBangFuli.API.MVC/bin/Debug/netcoreapp3.0
/BangBangFuli.API.MVC/obj
/BangBangFuli.API.MVC/wwwroot/images
/BangBangFuli.API.MVCDotnet2/bin
/BangBangFuli.API.MVCDotnet2/obj
/BangBangFuli.API.MVCDotnet2/wwwroot
/BangBangFuli.Common/bin
/BangBangFuli.Common/obj
/BangBangFuli.H5.API.Application/bin
/BangBangFuli.H5.API.Application/obj
/BangBangFuli.H5.API.Core/bin
/BangBangFuli.H5.API.Core/obj
/BangBangFuli.H5.API.EntityFrameworkCore/bin
/BangBangFuli.H5.API.EntityFrameworkCore/obj
/BangBangFuli.H5.API.Extensions/bin
/BangBangFuli.H5.API.Extensions/obj
/BangBangFuli.H5.API.Test/bin/Debug/netcoreapp2.2
/BangBangFuli.H5.API.Test/obj
/BangBangFuli.H5.API.WebApi/bin
/BangBangFuli.H5.API.WebApi/obj
/BangBangFuli.H5.API.WebApi/appsettings.json
/BangBangFuli.Utils.ORM/bin
/BangBangFuli.Utils.ORM/obj
/BangBangFuli.Utils.ORM.Interface/bin
/BangBangFuli.Utils.ORM.Interface/obj
/BangBangFuli.H5.API.WebApi/.config
/BangBangFuli.API.MVCDotnet2/appsettings.json
/BangBangFuli.API.MVCDotnet2/appsettings.Development.json
/BangBangFuli.API.MVC/appsettings.Development.json
/BangBangFuli.Models
/test/obj
/test/wwwroot
/WebApplication1/obj
/WebApplication1/wwwroot
/WebApplication1/appsettings.json
/WebApplication1/appsettings.Development.json
/WebApplication1
/BangBangFuli.MQ.Consumer/obj
/BangBangFuli.MQ.Consumer/bin/Debug/netcoreapp3.1
