@{
    ViewData["Title"] = "Detail";
    //var photoPath = "~/images/" + (Model.Student.PhotoPath ?? "noimage.png");
}

<h1>上传成功</h1>

<div class="card-body text-center">
    <img class="card-img-top" src="" asp-append-version="true" />
</div>

