@model BatchViewModel
@{
    ViewBag.Title = "创建批次信息";
}
<h4>批次信息</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createsave" enctype="multipart/form-data" asp-controller="Batch" method="post" class="mt-3">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="BatchId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="BatchId" class="form-control" placeholder="请输入批次号" />
                    <span asp-validation-for="BatchId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="请输入批次名称" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="添加" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">返回列表</a>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('.custom-file-input').on("change", function () {

                console.log($(this));
                var fileLabel = $(this).next(".custom-file-label");

                var files = $(this)[0].files;

                if (files.length > 1) {

                    fileLabel.html("您已经选择了" + files.length + "个文件");
                } else {
                    fileLabel.html(files[0].name);
                }
            });
        });</script>
}

