@{
    ViewData["Title"] = "头图管理";
    Layout = "~/BasePages/_Layout.cshtml";
}
<blockquote class="layui-elem-quote">
    头图管理中展示了所有的头图信息，可以进行删除添加等操作
    <a class="layui-btn layui-btn-normal" href="/banners/AddNewBanner">添加头图</a>
</blockquote>
<table class="layui-table" lay-data="{height:600, url:'/banners/BannerListData', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
        <tr>
            <th lay-data="{field:'BannerId', width:80, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'BatchId', width:180}">批次号</th>
            <th lay-data="{field:'Name', width:180, sort: true}">批次名称</th>
            <th lay-data="{field:'CreateTime', width:180}">创建时间</th>
            <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
    </thead>
</table>
<script type="text/html" id="barDemo">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-mini" lay-event="edity">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </div>
</script>
@section Scripts{
    <script type="text/javascript">
        var layer
        layui.use(['laypage', 'layer', 'table', 'element'], function () {
            layer = layui.layer
            table = layui.table
            laypage = layui.laypage

            //监听工具条
            table.on('tool(demo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {
                    layer.confirm('真的删除么', function (index) {
                        if (data.name == '系统管理员') {
                            layer.msg('系统管理员不能删除', { icon: 2});
                            return
                         }
                        $.get('/banners/DelBanner?id=' + data.BannerId, function (res) {
                            if (res.code == 1) {
                                obj.del(); //删除对应行（tr）的DOM结构
                                layer.close(index);
                                layer.msg('删除成功', { icon: 6 });
                            } else {
                                layer.msg('删除失败', { icon: 5 });
                            }
                         })
                        //向服务端发送删除指令
                    });
                } else if (layEvent === 'edity') {
                    window.location = '/banners/EditBanner?id=' + data.BannerId;
                 }
            });
        });
    </script>
}



